In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
data = pd.read_csv('diabetes.csv')
data.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [3]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

Podemos ver que en todas las columnas existen valores no validos o cero. Para lo cual haremos una limpieza de destos datos y los reemplazaremos por los valores promedio de cada columna, sin contar los valores no validos.

In [4]:
# estas columnas son las que se van a normalizar
columnas = ['Glucose','Insulin', 'BloodPressure', 'SkinThickness', 'BMI', 'DiabetesPedigreeFunction']

In [5]:
# cambiar los valores 0 por un promedio de la columna
for columna in columnas:
    promedio = data[columna].replace(0, np.nan).mean()
    if columna != 'BMI':
        data[columna] = data[columna].replace(0, math.trunc(promedio))
    else:
        data[columna] = data[columna].replace(0, round(promedio, 2))
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.00000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,121.682292,72.386719,29.108073,155.28125,32.457500,0.471876,33.240885,0.348958
std,3.369578,30.435999,12.096642,8.791221,85.02155,6.875151,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,7.000000,14.00000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.750000,64.000000,25.000000,121.50000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,29.000000,155.00000,32.400000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,155.00000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.00000,67.100000,2.420000,81.000000,1.000000

Ahora que se han reemplazado los valores anomalos, se verificara que no existen variables categoricos

In [ ]:
# verificar si hay variables categoricas en las columnas
for column in data.columns:
    for i in range(len(data[column])):
        if type(data[column][i])== str:
            print(f'la columna {column} tiene un valor no numérico: {data[column][i]}')
            break

Ya verificados que los datos no tengan valores categoricos, vamos a realizar un escalado estands

In [13]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

# 1. Separar la columna 'Outcome'
X = data.drop(data.columns[8], axis=1)  
y = data.iloc[:, 8]

# 2. Escalar los datos de entrada (X)
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# 3. Crear un nuevo DataFrame con los datos escalados
X_scaled_df = pd.DataFrame(X_scaled, columns=X.columns)

# 4. Dividir los datos para entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X_scaled_df, y, test_size=0.2, random_state=42)

# 5. Dividir los datos en entrenamiento y validacion
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, random_state=42)

# 6. Crear y entrenar el modelo de regresión logística
model = LogisticRegression()
model.fit(X_train, y_train)

# 7. Evaluar o predecir
accuracy = model.score(X_test, y_test)
print("Precisión del modelo:", accuracy)

Precisión del modelo: 0.7337662337662337